$brandPrimary: rgb(234, 145, 69);
$brandSecondary: black;
$brandTertiary: #696969;


/* fonts 
font-family: 'Raleway', sans-serif;
font-family: 'Rufina', serif;
*/

$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Rufina', serif;


$sml: ( max: 480px );
$mid: ( max: 560px );
$med: ( max: 768px );
